
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    display: block;
    flex-direction: column;
    text-align: center;
    background-color: black;
}

.bloc video {
    position: absolute;
    position: fixed; /* Positionne la vidéo de manière fixe */    
    top: 0;     
    left: 0;     
    width: 100%; /* Assurez-vous que la vidéo couvre toute la largeur */    
    height: auto; /* Hauteur automatique pour conserver les proportions d'origine */    
}


header {
   
    width: auto;  
    height: auto;
    color: white;
    padding: 20px;
    text-align: center;
}


#result-container {
    padding: 20px;
    position: absolute;
    position: fixed; 
    top: 0;     
    left: 0;     
    width: 100%;   
    text-align: center; /* Centrer le texte horizontalement */
    margin-top: 50px; /* Espacement du haut de la page */
    color: white;
}
