
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    display: block;
    flex-direction: column;
    background-color: black;
}
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 5%; 
    height: auto;
    z-index: 1
}
.bloc video {
    
    position: fixed; /* Positionne la vidéo de manière fixe */    
    top: 0;     
    left: 0;     
    width: 100%; /* Assurez-vous que la vidéo couvre toute la largeur */    
    height: auto; /* Hauteur automatique pour conserver les proportions d'origine */    
}


header {
   
    width: auto;  
    height: auto;
    color: white;
    padding: 20px;
    text-align: center;
}


#result-container {
    padding: 20px;
    position: absolute;
    position: fixed; 
    top: 0;     
    left: 0;     
    width: 100%;   
    text-align: center; /* Centrer le texte horizontalement */
    margin-top: 50px; /* Espacement du haut de la page */
    color: white;
}

.footer {
    background: radial-gradient(circle, #0c1444, #000000); /* Dégradé galaxie */
    color: #ffffff; /* Couleur du texte */
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: flex-end;
    z-index: 1; /* Assurez-vous que la barre de fin apparaît au-dessus de la vidéo */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 1.5em;
    margin-right: 10px;
}

.text {
    font-size: 1em;
}
